.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-heading {
  font-family: "Roboto";
}
.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .box-container {
    flex-direction: row;
    align-items: flex-end;
  }
}

.heading {
  font-family: "Bree Serif";
  color: #ffffff;
  font-size: 18px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}
.small-box {
  background-color: #fbbf24;
  height: 100px;
  width: 100px;
}
.medium-box {
  background-color: #38bdf8;
  height: 200px;
  width: 200px;
}

.large-box {
  background-color: #ec4899;
  height: 400px;
  width: 400px;
}
